<!--Navigation Bar-->
<div class="topbar-container">

	<!--Title-->
	<div class="topbar-title">
		<a href="#">SOF-WEBIMS</a>
	</div>

	<!--Menu Items-->
	<div class="topbar-menu">
		<a href="#">
			<i class="fa fa-envelope"> Employee</i>
		</a>
		<a href="#">
			<i class="fa fa-product-hunt"> Project</i>
		</a>
		<a href="#">
			<i class="fa fa-address-book"> Address</i>
		</a>

		<button class="btn btn-outline-primary">
			{{mKey}}
		</button>
	</div>

	<!--User Panel-->
	<div class="topbar-user">
		<a href="login.html">
			<i class="fa fa-sign-in"></i> Log In
		</a>
	</div>
</div>