/// Container
.topbar-container {
	position: relative;
	padding: 0.5rem 1rem;
	min-width: 250px;
	border-bottom: 1px solid #e6e6e6;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

/// Topbar Logo
.topbar-logo {
	display: inline-block;
	font-size: 1.25rem;
	line-height: inherit;
}

/// Topbar User Panel
.topbar-user {
	position: absolute;
	right: 1rem;
}

/// Topbar Menu Panel
.topbar-menu {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	> ul {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		margin: 0;
		padding: 0;
		list-style: none;
		> li {
			line-height: inherit;
			padding: 0.5rem;
			&:hover {
				background-color: #eee;
			}
		}
	}
}

/// Smaller Screen
@media (max-width: 991px) {
	.topbar-container {
		flex-direction: column;
		// align-items: flex-start;		Remove to display the content in block (Full Row)
	}

	.topbar-menu {
		flex-direction: column;
		// align-items: flex-start;
		> ul {
			flex-direction: column;
			// align-items: flex-start;
		}
	}

	.collapse {
		display: none;
	}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}	

	.topbar-menu-show {
		height: 300px;
		display: block;
	}


}

/// Bigger Screen
@media (min-width: 992px) {
	.topbar-container {
		flex-direction: row;
		align-items: center;
	}

	.topbar-menu {
		flex-direction: row;
		align-items: center;
		> ul {
			flex-direction: row;
			align-items: center;
		}
	}
}

