/// Container
.topbar-container {
	// height: 50px;
	background-color: #fff;
	border-bottom: 1px solid #e6e6e6;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

/// Title
.topbar-title {
	order: 1;
	margin-right: auto;
	margin-left: 100px;
	a {
		padding: 0.5em;
		font-size: 1.5em;
		text-decoration: none;
		border-right: 1px solid #e6e6e6;
	}
}

/// Menu Items
.topbar-menu {
	order: 1;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	transition: 0.3s;

	a {
		padding: 10px;
		font-size: 1em;
		text-decoration: none;
		border-right: 1px solid #e6e6e6;
		transition: 0.3s;
		&:focus,
		&:hover {
			background-color: pink;
		}

		&:first-child {
			font-weight: bold;
		}
		&:last-child {
			border-right: 0px;
		}
	}

	&.toggle {
		display: inline;
		a {
			@media screen and (max-width: 750px) {
				position: relative;
				&:not(:first-child) {
					display: block;
				}
			}
		}
	}

	@media screen and (max-width: 750px) {
		flex-direction: column;
		a:not(:first-child) {
			display: none;
		}
	}
}

.toggler {
	order: 2;
	display: none;

	@media screen and (max-width: 750px) {
		display: block;
	}
}

/// User Panel
.topbar-user {
	order: 3;
	margin-right: 100px;
	margin-left: auto;
	a {
		font-size: 12px;
		text-decoration: none;
		&:focus,
		&:hover {
			background-color: transparent;
		}
	}
}

.rwd-topbar {
	list-style: none;
	margin: 0;
	overflow: hidden;
	background-color: #333;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	&:first-child {
		padding-left: 0;
	}



	> li {
		padding: 10px;
		a {
			color: #fff;
			text-decoration: none;
			transition: 0.3s;

			&:hover,
			&:focus,
			&.active {
				background-color: #555;
			}
		}
	}
}
